<% if defined?(JRUBY_VERSION) %>
connections:
  postgresql:
    adapter: postgresql
    database: innkeeper_postgresql_test
    username: postgres
    min_messages: WARNING
    driver: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/innkeeper_postgresql_test
    timeout: 5000
    pool: 5

  mysql:
    adapter: mysql
    database: innkeeper_mysql_test
    username: root
    min_messages: WARNING
    driver: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/innkeeper_mysql_test
    timeout: 5000
    pool: 5
<% else %>
connections:
  postgresql:
    adapter: postgresql
    database: innkeeper_postgresql_test
    min_messages: WARNING
    username: postgres
    schema_search_path: public
    password:

  mysql:
    adapter: mysql2
    database: innkeeper_mysql_test
    username: root
    password:
<% end %>
